<header>
        <%= image_tag("logo.png", :alt => "KARATE LOGO", :class => "img_head") %>
        <nav class="link_head">
          <ul>
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Help", '#' %></li>
            <li><%= link_to "Sign In", '#' %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </nav>
</header> 
